* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #08c;
}
li {
  list-style: none;
}
.authorNews {
  cursor: pointer;
}

.tox-notifications-container {
  display: none !important;
}
